  /* fonts */
  
  @import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;300;700&display=swap');
  /* modelos flex box */
  
  body {
      display: flex;
      flex-direction: column;
      font-family: 'Noto Sans', sans-serif;
      font-weight: 900;
      background: rgb(252, 248, 248);
  }
  
  main {
      display: flex;
      justify-content: center;
      width: 100%;
      margin: 32px auto 0;
  }
  
  .form {
      display: flex;
      flex-direction: column;
      align-items: center;
  }
  
  .formaction {
      display: flex;
      flex-direction: column;
  }
  
  .formig {
      display: flex;
      flex-direction: column;
      align-items: center;
  }
  
  .facebook {
      display: flex;
      flex-direction: column;
  }
  
  .download {
      display: flex;
      flex-direction: column;
      align-items: center;
  }
  
  .downloadicons {
      display: flex;
  }
  
  .links {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
  }
  
  .copyright {
      display: flex;
      justify-content: center;
      align-items: baseline;
  }
  /* formato del formulario */
  
  .formig {
      width: 350px;
      height: 400px;
      border: 1px solid rgb(201, 192, 192);
      background-color: white;
  }
  
  .formig img {
      padding-top: 3em;
      padding-bottom: 2em;
  }
  
  .input {
      all: unset;
      border: 1px solid rgb(201, 192, 192);
      background: rgba( 250, 250, 250);
      font-size: 12px;
      padding: 7px;
      width: 21em;
      margin-top: 7px;
      height: 1.7em;
      border-radius: 3px;
      font-weight: 300;
  }
  
  .formaction button {
      all: unset;
      text-align: center;
      margin-top: 10px;
      padding: 4.4px;
      background-color: rgba(0, 149, 246, 0.3);
      font-size: 12px;
      color: white;
      border-radius: 4px;
      height: 1.8em;
  }
  
  .formaction button a {
      all: unset;
  }
  
  .separation img {
      padding: 3px;
      width: 19em;
  }
  
  .facebook {
      gap: 25px;
  }
  
  .face1 {
      font-weight: 900;
      font-size: 13px;
  }
  
  .face2 {
      font-size: 13px;
      font-weight: 300;
      text-align: center;
      color: #385185;
  }
  
  .facebook a {
      all: unset;
      color: #385185;
  }
  
  .login {
      padding: 20px 22px;
      margin-top: 10px;
      width: 22em;
      text-align: center;
      border: 1px solid rgb(201, 192, 192);
      background-color: white;
      font-size: 14px;
      font-weight: 300;
  }
  
  .login a {
      all: unset;
      color: rgb(0, 162, 255);
      font-weight: 900;
  }
  
  .download {
      padding: 20px;
      font-size: 13px;
  }
  
  .downloadapp {
      margin-bottom: 10px;
      font-weight: 400;
  }
  
  .facebook a img {
      height: 1em;
      padding: 0;
      padding-right: 10px;
  }
  
  .downloadicons img {
      height: 40px;
      padding: 4px;
  }
  /* seccion movil */
  
  .mobile {
      background-image: url("/instagram/assets/moviles.png");
      background-position: -46px 0;
      background-size: 468.32px 634.15px;
      -webkit-flex-basis: 380.32px;
      -ms-flex-preferred-size: 380.32px;
      flex-basis: 380.32px;
      height: 581.15px;
      margin-bottom: 12px;
      margin-right: 32px;
  }
  
  .mobile img {
      display: flex;
      height: 538.84px;
      left: 406px;
      position: absolute;
      top: 66px;
      width: 250px;
  }
  /* sección footer */
  
  .links {
      width: 50em;
      margin-left: 16em;
  }
  
  .links a {
      padding: 10px;
      font-size: 0.7em;
      font-weight: 400;
  }
  
  footer a {
      all: unset;
      color: grey;
  }
  
  .languages input {
      all: unset;
      width: 9em;
      font-size: 13px;
      font-weight: 300;
  }
  
  .copy {
      font-size: 12px;
      font-weight: 300;
  }
  /* botones */
  
  button:hover,
  a:hover {
      cursor: pointer;
  }
  /* animaciones */
  
  .img1 {
      opacity: 1;
      animation-name: photo1;
      animation-fill-mode: backwards;
      animation-duration: 5s;
      animation-delay: 3s;
  }
  
  .img2 {
      opacity: 0;
      visibility: hidden;
      animation-name: photos;
      animation-delay: 4s;
      animation-fill-mode: both;
      animation-duration: 7s;
      animation-timing-function: ease-in-out;
  }
  
  .img3 {
      opacity: 0;
      animation-name: photos;
      visibility: hidden;
      animation-delay: 7s;
      animation-duration: 7s;
      animation-fill-mode: both;
      animation-timing-function: ease-in-out;
  }
  
  .img4 {
      opacity: 0;
      animation-name: photos;
      visibility: hidden;
      animation-fill-mode: both;
      animation-duration: 7s;
      animation-delay: 11s;
      animation-timing-function: ease-in-out;
  }
  
  @keyframes photo1 {
      0% {
          opacity: 1
      }
      25% {
          opacity: 0.8
      }
      50% {
          opacity: 0.5
      }
      75% {
          opacity: 0.3
      }
      100% {
          opacity: 0;
          visibility: hidden;
      }
  }
  
  @keyframes photos {
      0% {
          opacity: 0;
          visibility: visible;
      }
      10% {
          opacity: 0.3
      }
      20% {
          opacity: 0.5
      }
      30% {
          opacity: 0.8
      }
      50% {
          opacity: 1;
      }
      60% {
          opacity: 0.8
      }
      70% {
          opacity: 0.5
      }
      85% {
          opacity: 0.3
      }
      100% {
          visibility: hidden;
      }
  }
  /* VER COMO HACERLO INFINITO */