* {
    border: 1px solid black;
}


/* fonts */

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;300;700&display=swap');
body {
    font-family: 'Noto Sans', sans-serif;
    margin: 0;
}

body a:hover {
    cursor: pointer;
}


/* flexboxes */

main {
    display: flex;
}

.stickyizq {
    display: flex;
    flex-direction: column;
    flex-basis: 73em;
    padding-left: 35px;
    padding-top: 20px;
}

.maincontent {
    display: flex;
    flex-direction: column;
    flex-basis: 150em;
}

.inicio {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.image {
    display: flex;
    align-items: center;
}

.mix {
    display: flex;
    justify-content: space-around;
    gap: 16em;
}

.publis {
    display: flex;
}

.title {
    display: flex;
    flex-direction: column;
}

.titlepubl {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.coments {
    display: flex;
    justify-content: space-around;
}

.noticesderch {
    display: flex;
    flex-direction: column;
}

.search {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.notice {
    display: flex;
    align-items: center;
}

.follow {
    display: flex;
    flex-direction: column;
}

.followw {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.copy {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
}


/* stickyizquierda */

#twittericon {
    height: 1.4em;
    width: 1.7em;
    margin: 0;
    padding: 0;
    border-radius: 100px;
}

.stickyizq img {
    margin-right: 20px;
}

.twittericon a {
    width: 0.3em;
}

.stickyizq a {
    all: unset;
    display: flex;
    align-items: center;
    font-size: 1.3em;
    padding: 14px;
    border-radius: 30px;
    width: fit-content;
}

.stickyizq a:hover {
    background-color: rgb(230, 225, 225);
}

#twitt {
    justify-content: center;
    background-color: rgb(24, 143, 223);
    border-radius: 30px;
    color: white;
    font-weight: 600;
    width: 10em;
}

#twitt:hover {
    background-color: rgb(19, 124, 194);
}


/* contenido principal */

.inicio p {
    font-size: 1.2em;
    font-weight: 900;
}

.inicio img {
    height: 1.5em;
    width: 1.5em;
}

.image textarea {
    all: unset;
    font-size: 1.3em;
}

.icons {
    margin-left: 50px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.icons img {
    height: 1.2em;
}

.mix a {
    all: unset;
    display: flex;
    align-items: center;
    background-color: rgb(24, 143, 223);
    color: white;
    border-radius: 30px;
    padding: 10px 20px;
    font-weight: 600;
}

.publis img {
    height: 3em;
}

.titlepubl p a {
    all: unset;
    font-weight: 600;
}

.titlepubl p a:hover {
    text-decoration: underline;
}

.titlepubl a img {
    height: 1em;
}

.coments img {
    height: 1.5em;
}


/* barra derecha */

.search button {
    all: unset;
    display: flex;
    align-items: center;
    font-size: 1em;
    padding: 9px 16px;
    background-color: rgb(238, 236, 236);
    border-radius: 30px;
    width: 100%;
    margin: 2px;
}

.search input {
    all: unset;
}

.search img {
    margin-right: 14px;
    height: 1.3em;
}

.happening,
.follow {
    background-color: rgb(238, 236, 236);
    margin: 10px;
    border-radius: 20px;
}

.happeningContent,
.followContent {
    display: flex;
    flex-direction: column;
    margin: 12px;
}

.notice img {
    height: 4em;
}

.notice p {
    font-size: 0.7em;
}

h4 {
    font-size: 1.4em;
    margin: 0;
    margin-bottom: 5px;
}


/* following */

.followw {
    display: flex;
    justify-content: space-between;
}

.derecha {
    display: flex;
}

.derecha a {
    all: unset;
    font-weight: 600;
    font-size: 1.2em;
}

.derecha a span {
    font-weight: 200;
    font-size: 0.7em;
}

#seguir {
    all: unset;
    background-color: black;
    padding: 8px 15px;
    border-radius: 30px;
    color: white;
    font-weight: 400;
}


/* footer */

.copy a {
    all: unset;
    padding-right: 20px;
    font-size: 0.8em;
    color: grey;
}

.copy p {
    font-size: 0.8em;
    color: grey;
}