/* fonts */

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;300;700&display=swap');
body {
    font-family: 'Noto Sans', sans-serif;
}

body a:hover {
    cursor: pointer;
}

.image img {
    height: 49em;
    width: 34em;
    margin: 0;
}


/* modelos flex box */

main {
    display: flex;
}

.content {
    display: flex;
    flex-direction: column;
    width: 40%;
    padding: 2em;
}

.form {
    display: flex;
    flex-direction: column;
}

.sesion {
    display: flex;
}

.links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
}


/* titulos */

h1 {
    overflow-wrap: break-word;
    font-size: 4em;
    font-weight: 900;
}

h2 {
    margin: 0;
    font-size: 2em;
    margin-bottom: 1em;
}


/* form */

.google,
.apple,
.regist {
    all: unset;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(192, 192, 192);
    border-radius: 30px;
    padding: 8px;
    margin: 7px;
    font-weight: 800;
    width: 21em;
    color: grey;
    font-size: 14px;
}

.google:hover {
    background-color: rgb(240, 252, 251);
}

.apple {
    color: black;
}

.apple:hover {
    background-color: rgb(233, 231, 231);
}

.separ {
    width: 20em;
}

.regist {
    background-color: rgb(29, 155, 240);
    padding: 13px 5px;
    color: white;
}

.regist:hover {
    background-color: rgb(24, 143, 223);
}

.form p {
    font-size: 0.7em;
    margin-left: 10px;
    line-height: 11px;
    margin-top: 0;
    width: 27em;
}

.form p a {
    all: unset;
    color: rgb(29, 155, 240);
}

.form p a:hover {
    text-decoration: underline;
}


/* account */

.account p {
    font-weight: 900;
    margin-top: 2em;
}

.account a {
    all: unset;
    display: flex;
    justify-content: center;
    border: 1px solid rgb(192, 192, 192);
    border-radius: 30px;
    font-weight: 800;
    color: rgb(29, 155, 240);
    font-size: 14px;
    padding: 10px;
    margin-left: 7px;
    letter-spacing: 1px;
    width: 20em;
}

.account a:hover {
    background-color: rgb(218, 252, 249);
}

.links a {
    all: unset;
    padding-right: 20px;
    font-size: 0.8em;
}

.links p {
    font-size: 0.8em;
}